* {
    padding: 0;
    margin: 0;
}

.oval {
    width: 200px;
    height: 150px;
    border-radius: 100px / 75px;
    background: #58a;
}

.half-oval {
    width: 200px;
    height: 150px;
    background: #58a;
    border-radius: 50% / 100% 100% 0 0;
}

.left-half-oval {
    width: 200px;
    height: 150px;
    background: red;
    border-radius: 100% 0 0 100% / 50%;
}

.right-half-oval {
    width: 200px;
    height: 150px;
    background: #58a;
    border-radius: 0 100% 100% 0 / 50%;
}

.quarter-oval {
    width: 200px;
    height: 150px;
    border-radius: 100% 0 0 0;
    background: #58a;
}

.parallelogram {
    transform: skewX(-45deg);
    background: greenyellow;
    width: 100px;
    height: 50px;
}

.parallelogram div {
    transform: skewX(45deg);
}

.pseudo-element-diamond {
    position: relative;
}

.pseudo-element-diamond::before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #58a;
    transform: skew(-45deg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 50px;
}

.square-diamond {
    width: 320px;
    transform: rotate(45deg);
    overflow: hidden;
    margin: 80px;

}

.square-diamond > img {
    max-width: 100%;
    transform: rotate(-45deg) scale(1.42);
}

.no-square-diamond {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transform: 1s clip-path;
}

.no-square-diamond:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.cutting-angle {
    background: #58a;
    width: 100px;
    height: 80px;
    background: linear-gradient(-45deg, transparent 15px, #58a  0);
}

.double-cutting-angle {
    background: #58a;
    width: 200px;
    height: 150px;
    background:
            linear-gradient(-45deg, transparent 15px, #58a 0) right,                                linear-gradient(45deg, transparent 15px, #58a 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    margin: 20px;

}

.four-cutting-angle {
    background: #58a;
    background:
            linear-gradient(135deg, transparent 15px, #58a 0) top left,
            linear-gradient(-135deg, transparent 15px, #58a 0) top right,
            linear-gradient(45deg, transparent 15px, #58a 0) bottom left,
            linear-gradient(-45deg, transparent 15px, #58a 0) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    margin: 20px;
    width: 200px;
    height: 150px;

}

.curved-cutting-angle {
    background: #58a;
    width: 200px;
    height: 150px;
    background:
            radial-gradient(circle at top left, transparent 15px, #58a 0) top left,
            radial-gradient(circle at top right, transparent 15px, #58a 0) top right,
            radial-gradient(circle at bottom left, transparent 15px, #58a 0) bottom left,
            radial-gradient(circle at bottom right, transparent 15px, #58a 0) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.svg-cutting-angle {
    border: 20px solid #58a;
    border-image: 1 url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg"\
         width="3" height="3" fill="%2358a">\
    <polygon points="0,1 1,0 2,0 3,1 3,2 2,3 1,3 0,2"/>\
</svg>');
    background: #58a;
    background-clip: padding-box;
    height: 100px;
    width: 220px;
    margin: 20px;
}

.clip-cutting-angle {
    background: #58a;
    clip-path: polygon(
            20px 0,
            calc(100% - 20px) 0,
            100% 20px,
            100% calc(100% - 20px),
            calc(100% - 20px) 100%,
            20px 100%,
            0% calc(100% - 20px),
            0 20px);
    height: 100px;
    width: 220px;
}

.trapezoid {
    height: 100px;
    width: 220px;
    background: #58a;
    transform: perspective(.5em) rotateX(5deg);
}

.pseudo-element-trapezoid {
    position: relative;
    display: inline-block;
    padding: .5em 1em .35em;
    color: white;
    height: 100px;
    width: 220px;
    margin: 20px;
}

.pseudo-element-trapezoid::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #58a;
    transform: perspective(.5em) rotateX(5deg);
    /* 如果希望左切斜 bottom left 右切斜是 bottom right*/
    transform-origin: bottom;
    height: 100px;
    width: 220px;
    margin: 20px;
}

.pie::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 /50%;
    background-color:inherit;
    transform-origin: 0 50%;
    transform: rotate(.1turn);
}

.pie {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: greenyellow;
    background-image: linear-gradient(to right, transparent 50%, #655 0);
}


@keyframes spin {
    to { transform: rotate(.5turn); }
}
@keyframes bg {
    50% { background: currentColor; }
}

.pie-60::before {
    content:'';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0/ 50%;
    background-color: inherit;
    transform-origin: 0 50%;
    animation: spin 3s linear infinite,bg 6s step-end infinite;
}

.pie-60 {
    width:100px;
    height: 100px;
    border-radius: 50%;
    background: yellowgreen;
    background-image: linear-gradient(to right, transparent 50%, currentColor 0);
    color: #655;
}

/**
 * Static pie charts
 */

.new-pie {
    display: inline-block;
    position: relative;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    background: yellowgreen;
    background-image: linear-gradient(to right, transparent 50%, #655 0);
    color: transparent;
    text-align: center;
}

@keyframes spin {
    to { transform: rotate(.5turn); }
}
@keyframes bg {
    50% { background: #655; }
}

.new-pie::before {
    content: '';
    position: absolute;
    top: 0; left: 50%;
    width: 50%; height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    animation: spin 50s linear infinite, bg 100s step-end infinite;
    animation-play-state: paused;
    animation-delay: inherit;
}

circle {
    fill: yellowgreen;
    stroke: #655;
    stroke-width: 30;
    stroke-dasharray: 0 189;
}



