* {
    padding: 0;
    margin: 0;
}

.oval {
    width: 200px;
    height: 150px;
    border-radius: 100px / 75px;
    background: #58a;
}

.half-oval {
    width: 200px;
    height: 150px;
    background: #58a;
    border-radius: 50% / 100% 100% 0 0;
}

.left-half-oval {
    width: 200px;
    height: 150px;
    background: red;
    border-radius: 100% 0 0 100% / 50%;
}

.right-half-oval {
    width: 200px;
    height: 150px;
    background: #58a;
    border-radius: 0 100% 100% 0 / 50%;
}

.quarter-oval {
    width: 200px;
    height: 150px;
    border-radius: 100% 0 0 0;
    background: #58a;
}

.parallelogram {
    transform: skewX(-45deg);
    background: greenyellow;
    width: 100px;
    height: 50px;
}

.parallelogram div {
    transform: skewX(45deg);
}

.pseudo-element-diamond {
    position: relative;
}

.pseudo-element-diamond::before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #58a;
    transform: skew(-45deg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 50px;
}

.square-diamond {
    width: 320px;
    transform: rotate(45deg);
    overflow: hidden;
    margin: 80px;

}

.square-diamond > img {
    max-width: 100%;
    transform: rotate(-45deg) scale(1.42);
}

.no-square-diamond {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transform: 1s clip-path;
}

.no-square-diamond:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.cutting-angle {
    background: #58a;
    width: 100px;
    height: 80px;
    background: linear-gradient(-45deg, transparent 15px, #58a  0);
}

.double-cutting-angle {
    background: #58a;
    width: 200px;
    height: 150px;
    background:
            linear-gradient(-45deg, transparent 15px, #58a 0) right,                                linear-gradient(45deg, transparent 15px, #58a 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    margin: 20px;

}

