figure {
    width: min-content;
    border: 1px solid silver;
}

figure > img {
    max-width: inherit;
}

table {
    table-layout: fixed;
    width: 100%;
}

li {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: silver;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    color: white;
    display: inline-block;
}

li:only-child {
    background: yellowgreen;
}

li:first-child:nth-last-child(n+1), li:first-child:nth-last-child(n+1) ~ li {
    background: green;
}

/*li:first-child:nth-last-child(n+2):nth-last-child(-n+6), li:first-child:nth-last-child(n+2):nth-last-child(-n+6) ~ li {*/
/*background: mediumvioletred;*/
/*}*/

/*main {*/
/*text-align: center;*/
/*position: absolute;*/
/*top: calc(50% - 3em);*/
/*left: calc(50% - 9em);*/
/*width: 18em;*/
/*height: 6em;*/
/*background: yellow;*/
/*}*/

/*main {*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*transform: translate(-50%, -50%);*/
/*background: silver;*/
/*width: 18em;*/
/*height: 6em;*/
/*text-align: center;*/
/*}*/

/*main {*/
    /*background: silver;*/
    /*width: 18em;*/
    /*height: 6em;*/
    /*text-align: center;*/
    /*margin: 50vh auto 0;*/
    /*transform: translate(-50%);*/
/*}*/

/*body {*/
    /*!*display: flex;*!*/
    /*!*min-height: 100vh;*!*/
    /*margin: auto;*/
/*}*/

/*main {*/
    /*margin: auto;*/
    /*width: 18em;*/
    /*height: 10em;*/
    /*background: silver;*/
    /*text-align: center;*/
/*}*/

main {
    display: flex;
    align-items: center; justify-content: center; width: 18em;
    height: 10em;
    text-align: center;
    background: red;
}

#wrapper {
    min-height: calc(100vh - 7em);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    height: 70px;
    width: 100%;
    background: mediumvioletred;
}

main {
    float: 1;
}